.divFontFamily{
	font-family: Arial;
}

.textAnythingHeader{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */

	/* Gray 2 */
	color: #4F4F4F;
}